.search-form{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 2px solid $blue-1 ;
    padding: 10px;
    margin: 20px; 
    width: 95%;

    &-button{
        padding: 20px;
        margin: 10px;
        grid-column: 5 / span 2;
    }
 
    input{
        margin-left: 15px;
        padding: 8px;
        border-color: white;
        color: white;
        background-color: $black-1;
        height: 60px;
        width: 290px;
    }
    select{
        padding: 20px;
        border-color: white;
        background-color: $black-1;
        color: white;
        width: 290px;
        margin-right: 10px;
 }
}

.search-form-labels{
    padding:10px;
}

.search-form-categories{
    padding: 15px;
    margin-left: 65px;
}


@media (max-width: 320px){
    .search-form, button, input, select{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

// @media (max-width: 769px){
//     button{
//     margin-left: 40%;
//     align-self: stretch;
//     padding:50px;
//     grid-row: third-line / 4 ;
//     }
// }


// @media (max-width: 320px){
//     .search-form-labels{
//         padding:15px;
//         margin-left: 50%;
//         align-self: center;
//         flex-direction: column;
        

//     }
// }

