.search-form{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $blue-1 ;
    padding: 10px;
    margin: 20px auto 20px auto; 
    width: 95%;

    &-button{
        flex: 1;
        padding: 20px;
        margin: 10px;
        grid-column: span 2;
        min-width: 105px;
    }
 
    input{
        flex: 3;
        margin-left: 15px;
        padding: 8px;
        border-color: white;
        color: white;
        background-color: $black-1;
        height: 60px;
        width: 290px;
    }
    select{
        flex: 3;
        padding: 20px;
        border-color: white;
        background-color: $black-1;
        color: white;
        width: 290px;
        margin-right: 10px;
    }
    &-labels{
        flex: 2;
        padding:10px;
    }

    &-categories{
        flex: 0.5;
        padding: 15px;
        margin-left: 3vw;
    }
}



@media (max-width: 1020px){
    .search-form{
        input{
            margin-left: 15px;
            padding: 8px;
            width: 28vw;
        }
        select{
            padding: 20px;
            width: 28vw;
            margin-right: 10px;
        }
        &-labels{
            padding:10px;
        }
        &-categories{
            padding: 15px;
            margin-left: 65px;
        }
    }
}

@media (max-width: 769px){
    .search-form{
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    
        input {
            width: 60vw;
            flex: 2;
            margin: auto;
        }
        .search-form-categories{
            flex: 3;
            align-self: center;
            margin: auto;
        }
        select{
            flex: 4;
            width: 60vw;
            margin: auto;
        }
        button{
            flex: 5;
        }
        &-labels{
            margin: auto;
        }
    }
}





