h3{

font-size: 30px;
margin-top: 0em;
color: #ffc442;
	}

.info-nav{
font-size:20px;



}

.info-page {

width: 65%;
height: 100%;
display: block;
margin: 0 auto;
padding-top:2em;
padding-bottom: 2em;
vertical-align: middle;

	}

.info-container{
padding-top:2em;
padding-bottom: 1em;

	}

hr{
margin-top: 3em;
}	


.info-nav-bottom{
float: right;
	}