.article-page{
    max-width: 800px;
    margin: 0 auto;
    padding: 2vw 0;

    .heading{
        line-height: 1.5em;
        border-bottom:solid 1px #DDD;
        display: block;
    }
    
    h1{
        display: none;
    }

    .category-image-top{
        width: 40px;
        height: 40px;
        margin-left: 20px;
        float: right;
        top: 15px;
        position: relative;
    }
    .category-image-bottom{
        display: none;
    }
}

@media (max-width: 550px){
    .article-page{
    
        .heading{
            font-size: 10vw;
        }
        
        .category-image-top{
            display: none;
        }

        .category-image-bottom{
            display: block;
            width: 40px;
            height: 40px;
            margin-left: 20px;
            float: right;
            top: 0px;
            position: relative;
        }

    }
}


