.search-result{
    border: 2px solid $yellow;
    padding: 20px;
    margin-top: 30px;
}
<<<<<<< HEAD

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

@media (max-width:770px){
    h1{
        font-size: 7vw;
    }
    h2{
        font-size: 6.5vw;
    }
    
}
@media (max-width:380px){
    h1{
        text-align: center;
        font-size: 9vw;
    }
    h2{
        font-size: 8.5vw;
        text-align: center;
    }
    p{
        text-align: center;
    }
}
=======
>>>>>>> 5c44dc2ed7ea329af898a8867c5448ba0461a3d1
