
footer{

	background-color: #242626;
}

.p1{
width: 100%;
}


.column3{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  float: center;
  padding-top:5px;
  padding-bottom:100px;
  vertical-align: middle;
  


}


.footer-nav{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  float: center;
  padding-top:5px;
  padding-bottom:100px;
  vertical-align: middle;

}

.footer-nav a{
  width: 25%;
  height: 100%;
  display: table;
  float: left;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-family: "Verdana","Arial Black";
  font-size: 15px;

}


.footer-nav li{

  height: 100%;
  display: table-cell;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-family: "Verdana","Arial Black",sans-serif;
}

.footer-nav a li:hover {
      color: #ffc442;
      transition: all 0.5s ease-in;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
