.site-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: $black-1;

    &-logo {
        margin-right: auto;
        float:right;
    }

    &-alert-level {
        display: inline-block;
        color: $yellow;
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        
    }
}

.logo-image{
    width: 200px;
    height: 100px;
}

@media (max-width: 370px){
    .logo-image{
        width: 120px;
        height: 60px;
    }
}
