.site-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: $black-1;

    &-logo {
        margin-right: auto;
        float:right;
    }

    &-alert-level {
        display: flex;
        color: $yellow;
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 670px;
    }
}

.logo-image{
    width: 200px;
    height: 100px;
}


@media (max-width: 769px){
    .alert-level{
        margin-right: 50px;
        align-self: center;
        flex-direction: row;
        

    }
}